# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# OS
.DS_Store

# Data (optional - if you want to keep data out of git, uncomment these)
# data/raw/
# data/processed/
